
body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #2c4038;
}

.quem-somos{
    background-color: rgb(43, 150, 226);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color:rgb(48, 72, 64)
}

.bg-footer{
        background-color: black;
        color: white;
}